<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	  <configSections>
	    <sectionGroup name="enyim.com">
	      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
	    </sectionGroup>
	  </configSections>
	
	  <enyim.com>
	    <memcached protocol="Text">
	      <servers>
	        <!-- make sure you use the same ordering of nodes in every configuration you have -->
	        <add address="localhost" port="11211" />
	        <add address="localhost" port="11212" />
	      </servers>
	      <!--<socketPool minPoolSize="integer" maxPoolSize="integer" connectionTimeout="timespan" deadTimeout="timespan" />
	      <locator type="fully qualified type name" factory="fully qualified type name" />
	      <transcoder type="fully qualified type name" factory="fully qualified type name" />
	      <keyTransformer type="fully qualified type name" factory="fully qualified type name" />
	      <performanceMonitor type="fully qualified type name" factory="fully qualified type name" />-->
	    </memcached>
	  </enyim.com>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
